In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import csv
import xlrd

In [10]:
data = pd.read_csv('/Users/yitong/Desktop/IceCreamDataSet.csv', header=0)

In [13]:
len(data)

86

In [14]:
data.head()

,Unnamed: 0,Customer,Date,Flavor,Revenue,Profit,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Drew Roulette,01/03/2018,Chocolate,$4.00,$3.00,NaN,NaN,NaN,NaN
1,NaN,Don Frazon,02/03/2018,Vanilla,$4.00,$3.00,NaN,NaN,NaN,NaN
2,NaN,Erin Davidson,02/03/2018,Vanilla,$4.00,$3.00,NaN,NaN,NaN,NaN
3,NaN,Ted Price,02/03/2018,Chocolate,$4.00,$3.00,NaN,NaN,NaN,NaN
4,NaN,Lila Stevens,03/03/2018,Cookie Dough,$5.00,$3.75,NaN,NaN,NaN,NaN

In [16]:
pd.options.display.float_format = '{:,.3f}'.format
data.describe()

       Unnamed: 0  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9
count       0.000       0.000       0.000       0.000       0.000
mean          nan         nan         nan         nan         nan
std           nan         nan         nan         nan         nan
min           nan         nan         nan         nan         nan
25%           nan         nan         nan         nan         nan
50%           nan         nan         nan         nan         nan
75%           nan         nan         nan         nan         nan
max           nan         nan         nan         nan         nan

In [17]:
data.columns = ['Customer','Date', 'Flavor',
              'Revenue', 'Profit']

data.head(5)

ValueError: Length mismatch: Expected axis has 10 elements, new values have 5 elements